<h1>Editing wasabbi_forum</h1>

<%= render :partial => "wasabbi_forums/new_or_edit",
  :locals => {:forum => @wasabbi_forum, :submit => "Update" } %>

<%= link_to 'Show', @wasabbi_forum %> |
<%= link_to 'Back', wasabbi_forums_path %>
