

<p>
  <b>Name:</b>
  <%=h @wasabbi_forum.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @wasabbi_forum.description %>
</p>



<%= link_to 'Edit', edit_wasabbi_forum_path(@wasabbi_forum) %> |
<%= link_to 'Back', wasabbi_forums_path %>
