<h1>Editing wasabbi_thread</h1>

<%= render :partial => "wasabbi_threads/new_or_edit",
  :locals => {:thread => @wasabbi_thread, :submit => "Update"} %>

<%= link_to 'Show', @wasabbi_thread %> |
<%= link_to 'Back', wasabbi_forum_path(@wasabbi_thread.forum_id) %>
