<h1>Create a new thread in <%= @wasabbi_thread.forum.name -%> </h1>

<%= render :partial => "wasabbi_threads/new_or_edit",
  :locals => {:thread => @wasabbi_thread, :submit => "Create"} %>

<%= link_to 'Back', wasabbi_forum_path(@wasabbi_thread.forum_id) %>
